.createEvent-btn {
  background-color: rgba(82, 82, 213, 0.9);
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
  }

.events-list {
    position: relative;
    z-index: 1;
  }

  .events-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }